.App {
    display: grid;
    grid-template-rows: 5vh 95vh;
}

.header {
    background-color: cornflowerblue;
    padding-left: 30px;
}

.content {
    background-color: white;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 10px;
    flex-wrap: wrap;
}

.board {
    height: 200px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.columns {
    display: flex;
    padding-top: 10px;
}

.column {
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
}



.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.card {
    width: 90%;
    height: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}